@include desktop {

    .contact{
        margin-top: 9vh;
        margin-left: 136px;

        &__textCode {
            margin:12px 10px;
        }

        &__text {
            margin-left:32px;
            font-size:$normalSizeD;
        }
       }
   }