body {
    min-height: 100vh;
    position: relative;
}

.footer{
    background-color: $darkGrey;
    width: 100vw;
    height: 48px;
    margin-top: 16px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: absolute;
    bottom: 0px;
    z-index:-1;

    &__icon {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@include desktop {
    .footer {
        display: none;
    }
}