body {
    background-color: $mediumGrey;
    font-family: $roboto;
}

.textCodeOne {
    margin: 0px $closeMargin;
    padding-top: 60px;

    p {
        color: $lightGrey;
        font-size: $normalSize;
        font-style:italic;
    }
}

.presentation{

    &__hyperWord {
        color: $primaryColor;
    }

    &__title1 {
        color: $white;
        font-size: $titleSize;
        font-weight: bold;
        margin-left: $longMargin;
        max-width: 500px;
    }
}

.textCode {
    margin: 12px $medMargin;

    p {
        color: $lightGrey;
        font-size: $normalSize;
        font-style: italic;
    }
}

.title2 {
    color: $primaryColor;
    font-size: $titleSize;  
    font-weight: bold;  
    margin-left: $longMargin;
}

.text {
    font-family: $robotoMono;
    color: $white;
    font-size: $normalSize;
    margin-left: $longMargin;
    margin-right: $longMargin;
    margin-bottom:1em;
}
section {
    padding-bottom: 40px;
}
.who {

    &__text {
        max-width: 500px;
    }
}

.skills {
    
    li {
        font-family: $robotoMono;
        color: $white;
        margin-left: $longMargin;
    }
}

@include desktop {

    .textCodeOne{
        padding-top: 16px;
        padding-left: 50px;

        p {
            font-size:$normalSizeD;
        }
    }

    .textCode {

        p {
            font-size:$normalSizeD;
        }
    }

    .presentation{

        padding-top:0;
        padding-left:165px;

        &__block {
            display:flex;
            width:200px;
        }

        &__textCode {
            margin:0;
        }

        &__title1 {
            font-size:$titleSizeD;
            margin:0px;
        }
    }

    .who{
        display:none;
    }

    .skills {
        display:none;
    }

    .contact {
        display:none;
    }

    .textCodeLast {
        margin-top:69vh; 
    }
}