//Couleurs
$primaryColor: #FFAF2A;
$darkGrey: #272635;
$mediumGrey: #343647;
$lightGrey: #5D607C;
$white: #f5f5f5;

//Font sizes mobile
$titleSize:36px;
$normalSize:16px;

//Font size desktop
$titleSizeD:48px;
$normalSizeD:20px;

//Margin mobile
$closeMargin: 4vw;
$medMargin: 8vw;
$longMargin:12vw;

//fonts
$roboto:'Roboto', sans-serif;
$robotoMono:'Roboto Mono', monospace;